<div class="row"> 
  <div class="col-lg-8">  
  <h3>New Article</h3>
  <%= form_with scope: :article, url: articles_path, local: true,:multipart=>true do |form| %>
<p>
  <%= form.label :title %> <br>
  <%= form.text_field :title,class: "form-control"  %> <br>
</p>

<p>
  <%= form.label :text %> <br>
  <%= form.text_area :text, class: "form-control" ,id: "summernote"%>
  
</p>
<p>
	<%= form.label :image %>
	<%= form.file_field :image %>
</p>
<p>
  <%= form.submit 'Save',:class=> "form-control btn btn-success"  %>


</p>

<% end %>
  </div>
</div>
